/* projects */
.bix-projects-tabs {
    ul {
        li.active {
            background-color: $black-off;
            color: $white;
        }
    }
}

.bix-project-card {
    &:hover {
        .project-image {
            img {
                transform: scale(1.1) rotate(5deg);
            }
        }
    }
    .project-image {
        &:hover {
            .overlay-project-card {
                opacity: 1;
            }
        }
        .overlay-project-card {
            &:after {
                font-family: $remixico;
                content: "\EA12";
                font-size: 24px;
                font-weight: 600;
                color: $white;
            }
        }
    }
}
