<!--========================================================= 
Item Name: Biox - Personal Portfolio HTML Tailwind CSS Template.
Author: Maraviya Infotech
Version: 1
Copyright 2024
============================================================-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Best personal portfolio modern template.">
	<meta name="keywords"
		content="personal, portfolio, resume, cv, , job, bio, virtual card, corporate, site design, professional, template, classic, modern">
	<title>Biox - Personal Portfolio HTML Tailwind CSS Template</title>
	<!-- Fav icon -->
	<link rel="icon" href="landing-assets/img/favicon.png">
	<!-- Font Family -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">

	<!-- Bootstrap stylesheet -->
	<link rel="stylesheet" href="landing-assets/css/bootstrap.css">
	<!-- Site Main stylesheet -->
	<link rel="stylesheet" href="landing-assets/css/landing-style.css">
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="landing-assets/css/landing-responsive.css">
</head>

<body class="hero-anime">
	<!-- Loader -->
	<div class="loader-wrapper" id="loader-wrapper">
		<div class="loader">
			<img src="landing-assets/img/logo.png" alt="logo">
		</div>
	</div>

	<!-- Start All Demo Pages Section -->
	<section class="portfolio pp-section bg str-bg-img page-section" id="demos">
		<div class="container">
			<div class="row page-intro disp-block">
				<img class="logo-intro" src="landing-assets/img/logo.png" alt="logo-img">
				<h1>The Best Personal Portfolio Template.</h1>
				<p>Biox – Personal Portfolio HTML Template is a pre-designed modern web template intended for
					individuals or businesses to showcase their work, projects, or skills online. This template has a
					unique, modern and professional design for designer, developer, freelancer, digital services
					provider related personal websites.</p>
			</div>
		</div>
	</section>
	<!-- End All Demo Pages Section -->

	<!-- Start All Demo Pages Section -->
	<section class="portfolio pp-section str-bg-img page-section" id="demos">
		<div class="container">
			<div class="row page-intro disp-block">
				<h2>Pre-Build Demos</h2>
			</div>
			<div class="row portfolio-list">
				<div class="col-lg-6 col-md-6 mix single-portfolio-item home">
					<a href="onepage/index.html" class="preview home-preview demo" target="_blank">
						<span class="pc-bg">
							<img src="landing-assets/img/1.png" alt="img">
						</span>
					</a>
					<a href="onepage/index.html" class="btn-page" target="_blank">
						<h5 class="card-title">One Page</h5>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 mix single-portfolio-item home">
					<span class="lable"></span>
					<a href="multipage/index.html" class="preview home-preview demo" target="_blank">
						<span class="pc-bg">
							<img src="landing-assets/img/2.png" alt="img">
						</span>
					</a>
					<a href="multipage/index.html" class="btn-page" target="_blank">
						<h5 class="card-title">Multi Page</h5>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End All Demo Pages Section -->

	<!-- Start All Demo Pages Section -->
	<section class="portfolio bg pp-section str-bg-img page-section" id="demos">
		<div class="container">
			<div class="row page-intro disp-block">
				<h2>Inner Pages</h2>
			</div>
			<div class="row portfolio-list">
				<div class="col-lg-6 col-md-6 mix single-portfolio-item home">
					<span class="lable"></span>
					<a href="multipage/about.html" class="preview home-preview demo" target="_blank">
						<span class="pc-bg">
							<img src="landing-assets/img/3.png" alt="img">
						</span>
					</a>
					<a href="multipage/about.html" class="btn-page" target="_blank">
						<h5 class="card-title">About Page</h5>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 mix single-portfolio-item home">
					<span class="lable"></span>
					<a href="multipage/projects.html" class="preview home-preview demo" target="_blank">
						<span class="pc-bg">
							<img src="landing-assets/img/4.png" alt="img">
						</span>
					</a>
					<a href="multipage/projects.html" class="btn-page" target="_blank">
						<h5 class="card-title">Project Page</h5>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 mix single-portfolio-item home">
					<span class="lable"></span>
					<a href="multipage/services.html" class="preview home-preview demo" target="_blank">
						<span class="pc-bg">
							<img src="landing-assets/img/5.png" alt="img">
						</span>
					</a>
					<a href="multipage/services.html" class="btn-page" target="_blank">
						<h5 class="card-title">Service Page</h5>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 mix single-portfolio-item home">
					<span class="lable"></span>
					<a href="multipage/resume.html" class="preview home-preview demo" target="_blank">
						<span class="pc-bg">
							<img src="landing-assets/img/6.png" alt="img">
						</span>
					</a>
					<a href="multipage/resume.html" class="btn-page" target="_blank">
						<h5 class="card-title">Resume Page</h5>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 mix single-portfolio-item home">
					<span class="lable"></span>
					<a href="multipage/single-project.html" class="preview home-preview demo" target="_blank">
						<span class="pc-bg">
							<img src="landing-assets/img/7.png" alt="img">
						</span>
					</a>
					<a href="multipage/single-project.html" class="btn-page" target="_blank">
						<h5 class="card-title">Single Project</h5>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 mix single-portfolio-item home">
					<span class="lable"></span>
					<a href="multipage/blog.html" class="preview home-preview demo" target="_blank">
						<span class="pc-bg">
							<img src="landing-assets/img/8.png" alt="img">
						</span>
					</a>
					<a href="multipage/blog.html" class="btn-page" target="_blank">
						<h5 class="card-title">Blog Page</h5>
					</a>
				</div>
				<div class="col-lg-6 col-md-6 mix single-portfolio-item home">
					<span class="lable"></span>
					<a href="multipage/blog-detail.html" class="preview home-preview demo" target="_blank">
						<span class="pc-bg">
							<img src="landing-assets/img/9.png" alt="img">
						</span>
					</a>
					<a href="multipage/blog-detail.html" class="btn-page" target="_blank">
						<h5 class="card-title">Single Blog Page</h5>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End All Demo Pages Section -->

	<!-- jquery -->
	<script src="landing-assets/js/jquery-3.1.0.min.js"></script>
	<script src="landing-assets/js/smoothscroll.min.js"></script>
	<script src="landing-assets/js/landing-script.js"></script>

</body>

</html>